.terms{
    &-container{
        width: 100%;
        height: 100%;
        overflow-y: scroll;
    }

    &-wrapper{
        margin: 10vh 20vw;
        @media #{$smartphones} {
            margin: 0;
        }
    }

    &-text{
        font-family: press-start;
        color: white;
        line-height: 1.3em;
    }
}
